@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

/* Polices */
.luxurious-title {
  font-family: "Luxurious Script", cursive;
  font-weight: 400;
  font-size: 150px;
  font-style: normal;
  color: #C2A351;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.luxurious-subtitle {
  font-family: "Luxurious Script", lineal;
  font-weight: 400;
  font-size: 100px;
  font-style: normal;
  color: #C2A351;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media screen and (max-width: 768px) {
  .luxurious-title {
    font-size: 60px;
  }
  .luxurious-subtitle {
    font-size: 30px;
  }
}

body {
  background: linear-gradient(90deg,
      transparent 20%, #ffffff80 20%, #ffffff80 20.1%, transparent 20.1%,
      transparent 40%, #ffffff80 40%, #ffffff80 40.1%, transparent 40.1%,
      transparent 60%, #ffffff80 60%, #ffffff80 60.1%, transparent 60.1%,
      transparent 80%, #ffffff80 80%, #ffffff80 80.1%, transparent 80.1%,
      transparent 100%);
  background-color: #252527;
  margin: 0;
  margin-left: 15%;
  margin-right: 15%;
  padding: 0;
  /* height: 100vh; */
  /* overflow: hidden; */
}

@media screen and (max-width: 768px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }
}

/* Banner */
.separator {
  height: 8em;
  width: 2px;
  background-color: #ffffff;
  margin: 0 10px;
}

/* Register */
.loadingMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadingDots {
  display: inline-block;
  width: 80px;
  text-align: center;
}

.loadingDots::after {
  content: "...";
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    content: "."
  }

  33% {
    content: ".."
  }

  66% {
    content: "..."
  }
}